nginx:
  image: nginx:1.9.0
  ports:
    - "80:80" # main materia
    - "8008:8008" # static files
  volumes:
    - "./app:/var/www/html:ro"
    - "./app/static:/usr/share/static:ro"
    - "./app/fuel/packages/materia/media/:/usr/share/media:ro"
    - "./config/nginx/sites-enabled:/etc/nginx/conf.d:ro"
  links:
    - "phpfpm:phpfpm"

phpfpm:
  build: ./docker_build/phpfpm
  environment:
    - FUEL_ENV=development
    - DB_HOST=mysql
    - DB_NAME=materia
    - DB_USER=materia
    - DB_PASS=odin
  volumes:
    - "./app:/var/www/html:rw"
    - "./config/php:/usr/local/etc/php/conf.d:ro"
    - "./config/deploy_keys/widget_deploy_key:/root/.ssh/id_rsa:ro"
  links:
    - "mysql:mysql"
    - "memcached:memcached"

mysql:
  image: mysql:5.5.47
  environment:
    - MYSQL_ROOT_PASSWORD=drRoots
    - MYSQL_USER=materia
    - MYSQL_PASSWORD=odin
    - MYSQL_DATABASE=materia
  ports:
    - "3306:3306" # allow mysql access from the host - use /etc/hosts to set mysql to your docker-machine ip
  volumes:
    - "./config/mysql/01_create_test.sql:/docker-entrypoint-initdb.d/01_create_test.sql"

memcached:
  image: memcached:1.4.25

# We use a node container to compile js, css, etc
node:
  build: ./docker_build/node
  volumes:
    - "./app:/var/www/html:rw"
    - "./config/deploy_keys/widget_deploy_key:/root/.ssh/id_rsa:ro"
    - "./config/known_hosts:/root/.ssh/known_hosts:ro"
