version: '2'

services:
  nginx:
    image: nginx:stable-alpine
    ports:
      - "80:80" # main materia
      - "8008:8008" # static files
    volumes:
      - ./app/public:/var/www/html/public:ro
      - static_files:/usr/share/static:ro
      - uploaded_media:/usr/share/media:ro
      - ./config/nginx/nginx.conf:/etc/nginx/nginx.conf:ro
    links:
      - phpfpm

  phpfpm:
    build:
      context: .
      dockerfile: dockerfiles/materia-web_dev
    environment:
      - FUEL_ENV=development
      - DB_HOST=mysql
      - DB_NAME=materia
      - DB_USER=materia
      - DB_PASS=odin
    volumes:
      - ./app:/var/www/html:rw
      - ./config/php/php.ini:/usr/local/etc/php/conf.d/php.ini:ro
      - ./config/php/php-extensions-runtime.ini:/usr/local/etc/php/conf.d/php-extensions-runtime.ini:ro
      - static_files:/var/www/html/static
      - uploaded_media:/var/www/html/fuel/packages/materia/media
    links:
      - mysql
      - memcached

  mysql:
    image: mysql:5.5.47
    environment:
      - MYSQL_ROOT_PASSWORD=drRoots
      - MYSQL_USER=materia
      - MYSQL_PASSWORD=odin
      - MYSQL_DATABASE=materia
    ports:
      - "3306:3306" # allow mysql access from the host - use /etc/hosts to set mysql to your docker-machine ip
    volumes:
      - "./config/mysql/01_create_test.sql:/docker-entrypoint-initdb.d/01_create_test.sql"

  memcached:
    image: memcached:1.4.25

volumes:
  static_files: {} # compiled js/css and uploaded widgets
  uploaded_media: {} # uploaded media files
