version: '2'

services:
  nginx:
    image: nginx:stable-alpine
    ports:
      - "80:80" # main materia
      - "8008:8008" # static files
    volumes:
      - ./config/nginx/nginx.conf:/etc/nginx/nginx.conf:ro
      - ./app/public:/var/www/html/public:ro
      - uploaded_media:/usr/share/media:ro
      - static_files:/usr/share/static:ro
      # replace static_files with this line to mount the host machine's static dir
      # - ./app/static:/usr/share/static:ro
    links:
      - phpfpm

  phpfpm:
    image: ***REMOVED***/materia-web:7.0.10-fpm-alpine2
    environment:
      - FUEL_ENV=development
      - DB_HOST=mysql
      - DB_NAME=materia
      - DB_USER=materia
      - DB_PASS=odin
    volumes:
      - ./app:/var/www/html:rw
      - ./config/php/php.ini:/usr/local/etc/php/conf.d/php.ini:ro
      - ./config/php/php-extensions-runtime.ini:/usr/local/etc/php/conf.d/php-extensions-runtime.ini:ro
      - uploaded_media:/var/www/html/fuel/packages/materia/media
      - static_files:/var/www/html/static
      # replace static_files with this line to mount the host machine's static dir
      # - ./app/static:/var/www/html/static
    links:
      - mysql
      - memcached

  mysql:
    image: mysql:5.7.18
    environment:
      - MYSQL_ROOT_PASSWORD=drRoots
      - MYSQL_USER=materia
      - MYSQL_PASSWORD=odin
      - MYSQL_DATABASE=materia
    ports:
      - "3306:3306" # allow mysql access from the host - use /etc/hosts to set mysql to your docker-machine ip
    volumes:
      - "./config/mysql/01_create_test.sql:/docker-entrypoint-initdb.d/01_create_test.sql"

  memcached:
    image: memcached:1.4.27-alpine

  fakes3:
    build:
      context: .
      dockerfile: dockerfiles/materia-fakes3
    environment:
      - INPUT_BUCKET=fakes3_uploads
      - OUTPUT_BUCKET=fakes3_assets
      - OUTPUT_MAX_DIMENSIONS=75x75, 0x0
      - OUTPUT_BASE_KEY=media
      - IS_FAKES3=True
    ports:
      - "10001:10001"
    volumes:
      - "./fakes3:/fakes3"
      - uploaded_media:/s3mnt/fakes3_root/fakes3_uploads/media/
    command:
      bash -c "/usr/local/bundle/gems/fakes3-1.2.0/bin/fakes3 -r /s3mnt/fakes3_root -p 10001 & python -u fakes3/watch_files.py"

volumes:
  static_files: {} # compiled js/css and uploaded widgets
  uploaded_media: {} # uploaded media files
